
#root,html,body {
  height:100vh;
}

body{
  margin:0;
  background-color: whitesmoke;
}
*{
  box-sizing: border-box;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html{
  scroll-behavior: smooth;
}